.btn-order{
    padding: 1rem 2rem;
    background-color: var(--btn-bg-order);
    color: var(--text-order);
    font-size: 1.25rem;
    font-family: 'Sofia Sans', sans-serif;
    line-height: 1.2;
    border-radius: 27px;
    margin-left: 2rem;
}

