.choose-us {
    text-align: center;
    & .text {
        margin-bottom: 4rem;
    }
    & .preferenses,
    .numbers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 2rem;
        & .item {
            max-width: 16.9rem;
            & .subtitle {
                margin: 2rem 0;
            }
            & .text {
                font-size: 1.1rem;
            }
        }
    }
    & .numbers {
        margin: 0 7rem;
    }
}
