.choose-us {
    text-align: center;
    margin-bottom: 4rem;
    &__text {
        margin-bottom: 4rem;
    }
    &__preferenses,
    &__numbers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    &__numbers {
        margin: 0 7rem;
    }
    &__item {
            max-width: 16.9rem;
    }
    &__subtitle {
                margin: 2rem 0;
    }
    &__text-litle {
                font-size: 1.1rem;
    }

}