.btn{
    padding: 1rem 1.5rem;
    background: var(--btn-bg);
    color: var(--white);
    width: 12.5rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
    
}