@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:ital,wght@0,500;0,700;1,400&family=Sofia+Sans&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Sofia Sans', sans-serif;

:root{
    --black: #181D19;
    --green: #5FB848;
    --tx-grey: #3B433E;
    --bg-grey: #494949;
    --bg-green: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    --white: #ffff;

    // light mood

    --page-bg: var(--white);
    --text: var(--tx-grey);
    --title-text: var(--black);
    --green-text: var(--green);
    --btn-order: var(--bg-grey);
    --btn-bg: var(--bg-green);

}