@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:ital,wght@0,500;0,700;1,400&family=Sofia+Sans&display=swap');

// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Sofia Sans', sans-serif;

:root {
    --black: #181d19;
    --green: #5fb848;
    --tx-grey: #3b433e;
    --tx-light-grey: #657582;
    --bg-grey: #494949;
    --bg-green: linear-gradient(180deg, #64bb47 0%, #2c9553 100%);
    --white: #ffff;

    // light mood

    --page-bg: var(--white);
    --text: var(--tx-grey);
    --title-text: var(--black);
    --green-text: var(--green);
    --light-text: var(--tx-light-grey);
    --text-order: var(--white);
    --btn-bg: var(--bg-green);
    --btn-bg-order: var(--bg-grey);
}
body.lock .header{
  background-color: #5eb848a6;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #5fb848;
}
.container {
    max-width: 81rem;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    padding: 0.5rem;
    margin-bottom: 4rem;
}
.content{
    max-width: 35rem;
   
}
.title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 770;
    font-size: 3.4rem;
    line-height: 1.5;
    color: var(--title-text);
}
.text {
    color: var(--text);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.subtitle {
    color: var(--title-text);
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 770;
}

//------------screens----------------------
@media (max-width: 700px){
  .title {
    font-size: 3rem;
    }
    .text {
        font-size: 1.3rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
   
}

@media (max-width: 450px){
  .title {
    font-size: 2rem;
    }
    .text {
        font-size: 1rem;
    }
    .subtitle{
        font-size: 1.2rem;
    }
   
}
