.icon-list {
    display: flex;
    align-items: center;
    &__row {
        display: flex;
        & li {
            cursor: pointer;
        }
        & img {
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            margin-left: 1rem;
        }
    }
}
