.icon-list {
    display: flex;
    align-items: center;
    &__row {
        display: flex;
        & li {
            cursor: pointer;
            width: 3.5rem;
            height: 3.5rem;
            margin-left: 1rem;
            display: flex;
           
        }
        & img {
            box-sizing: border-box;
            width: 100%;
           
            
        }
    }
}
