.cooked-by {
    &__content {
        max-width: 34rem;
    }
     &__title {
        margin-bottom: 2rem;
    }
    &__text {
        margin-bottom: 3rem;
    }
     & li .text {
        display: inline-block;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
     & span img{
       padding-top: 8px;
    }

}