.fresh-veg {
    &__inner {
        justify-content: space-between;
    }
    &__content {
        max-width: 35rem;
    }
    &__title {
        margin-bottom: 2rem;
    }
    &__text {
        margin-bottom: 3rem;
    }
}
