.header-content {
    margin-top: 5rem;
    padding: 5rem 1rem;
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__block {
        max-width: 32.6rem;
    }

    &__title {
        color: var(--title-text);
        font-size: 3.8rem;
        line-height: 1.2;
        font-family: 'Roboto Mono', monospace;
        font-weight: 750;
        margin-bottom: 2rem;
    }
    &__span {
        white-space: nowrap;
    }
    &__span-green {
        color: var(--green-text);
    }

    &__text {
        margin-bottom: 2rem;
        text-align: justify;
        max-width: 500px;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    &__images {
        position: relative;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
//----------------screens---------------
@media (max-width: 900px) {
    .header-content {
        &__block {
            max-width: unset;
            padding-right: 1rem;
            text-align: center;
        }
        &__text {
            max-width: unset;
            text-align: center;
        }
        &__images {
            display: none;
        }
        &__span {
            white-space: unset;
        }
    }
}

@media (max-width: 650px) {
    .header-content {
        &__title {
            font-size: 3rem;
        }
    }
}
@media (max-width: 450px) {
    .header-content {
        &__title {
            font-size: 2rem;
        }
        &__text {
            font-size: 1.3rem;
        }
    }
}
