.header-content {
    // position: relative;
    & .content {
        padding: 11rem 0 10rem 4rem;
        max-width: 41rem;
        display: flex;
        flex-direction: column;
        & h1 {
            color: var(--title-text);
            font-size: 3.8rem;
            line-height: 1.2;
            font-family: 'Roboto Mono', monospace;
            font-weight: 750;
            margin-bottom: 2rem;
            & span {
                color: var(--green-text);
            }
        }
        & p {
            margin-bottom: 2rem;
            text-align: justify;
            width: 89%;
        }
    }
    & .img-box {
        max-width: 38.4rem;
        position: relative;
        background-image: url('./img/bg-header.png');
        background-repeat: no-repeat;
        background-size: cover;
       
    }
}
