.slider {
    &__box {
        justify-content: space-between;
        position: relative;
        width: 100%;
        flex-basis: 50%;
        box-sizing: content-box;
    }
    &__item {
        width: 45%;
        padding: 3rem 2.5rem 4rem 1.8rem;
        background: #ffff;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        border: 2px solid #ffffff;
        box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.06);
        border-radius: 8px;
        &.active {
            opacity: 1;
        }
        &-pair {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            &:not(.active) {
                visibility: hidden;
                height: 0;
                margin: 0;
                padding: 0;
            }
        }
    }
    &__top {
        display: flex;
        margin-bottom: 2rem;
    }
    &__img-box {
        margin-right: 2.2rem;
    }
    &__content {
        text-align: justify;
        box-sizing: border-box;
    }
    &__control {
        width: 100%;
        text-align: center;
        display: flex;
        column-gap: 3rem;
        justify-content: center;
        & button {
            cursor: pointer;
        }
    }
}
//-----------screens--------------------
@media (max-width: 1000px) {
    .slider {
        &__item {
            padding: 2rem 1.5rem;
        }
    }
}
@media (max-width: 800px) {
    .slider {
        &__item {
            width: 48%;
        }
    }
}
@media (max-width: 600px) {
    .slider {
        box-sizing: content-box;
        &__box{
            min-height: 15rem;
            gap: 0;
            margin-bottom: 1rem;
        }
        &__item {
            padding: 0.5rem;
        }
        &__top{
            flex-direction: column;
            row-gap: 0.5rem;
        }
        &__name.subtitle {
            font-size: 1rem;
            line-height: 1.2;
        }
        &__prof.text{
            font-size: 1rem;
            line-height: 1.2;
        }
        &__review.text{
            font-size: 1rem;
            line-height: 1.2;
        }
    }
}
